html {
    overflow-x: hidden;
}

body {
    color: #050505;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

clearfix:after {
    clear: both;
}

.top-container {
    /* height: 142px;*/
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.top-stripe {
    height: 15px;
    background: #be2435;
    margin: 0;
    padding: 0;
}


.top-content {
    height: 125px;
    margin-bottom: 0;
    position: relative;
    margin: 0 auto;
    width: 95%;
}

.top-content .logo {
    -ms-interpolation-mode: bicubic;
    display: block;
    position: absolute;
    top: 19px;
    left: 0;
    max-height: 85px;
    width: 90px;
}

table td {
    vertical-align: top;
    padding: 3px;
}

.top-content #title {
    position: absolute;
    top: 45px;
    left: 130px;
}

body #contents {
    width: 95%;
    background: #fffefd;
    border: 1px solid #DDD;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 35px;
    padding-bottom: 35px;
    min-height: 70%;
    min-height: -webkit-calc(100% - 329px);
    min-height: -moz-calc(100% - 329px);
    min-height: calc(100% - 329px);
}

form.compact {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p.instructions {
    font-size: small;
    font-style: italic;
}

.backlink {
    font-size: small;
    font-style: italic;
}

h1 {
    color: maroon;
    text-align: left;
}

h3 {
    font-style: italic;
}

div.groups li {
    list-style: none;
    padding-top: 2px;
    font-size: smaller;
}

div.groups ul {
    padding-left: 15px;
}

table.tech {
    border-collapse: collapse;
}

table.tech td, table.tech th {
    border: 1px solid #999999;
    padding: 5px;
    text-align: left;
    font-size: small;
}

div#userbox, div#groupbox {
    display: none;
}

div#groupbox, div#userbox {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    border: 1px solid #444444;
    overflow-y: auto;
    table-layout: fixed;
}

div#groupbox table, div#userbox table {
    border-collapse: collapse;
}

div#groupbox table td, div#userbox table td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 0.80em;
}

div#groupbox table td.title, div#userbox table td.title {
    width: 250px;
}

div#groupbox table td.section, div#userbox table td.section {
    width: 350px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.sigill {
    pointer-events: none;
    position: absolute;
    right: -623px;
    width: 850px;
    background: transparent url(http://www.uu.se/digitalAssets/207/c_207717-l_3-k_sigill-centralised.png) top left no-repeat;
    height: 595px;
    top: 142px;
    z-index: 11;
}

.footer-site-information {
    font-size: 0.75em;
    line-height: 1.75em;
    margin: 20px 2.5% 10px;
    text-align: center;
    width: 95%;
}

.footer-element {
    background: #000 url(http://www.uu.se/digitalAssets/207/c_207717-l_3-k_footer-statues.jpg) top center no-repeat;
    clear: both;
    color: #fff;
    position: relative;
    margin: 0;
    padding: 30px;
}

.footer-element a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.footer-site-entry {
    white-space: nowrap;
}

.separator {
    background-color: #fff;
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    width: 1px;
}
